html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(antiquewhite,silver);
    /* background-color: whitesmoke; */
}

td {
    text-align: center;
    min-width: 25px;
}

.wrongChar {
    background-color: lightgrey;
}

.wrongPlace {
    background-color: aquamarine;
}

.rightPlace {
    background-color: greenyellow;
}

.errorMsg {
    position: absolute;
    color: red;
    transition: color 3s;
}