html {
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(antiquewhite,silver);
    /* background-color: whitesmoke; */
}

td {
    text-align: center;
    min-width: 25px;
}

.noTry {
    border-width: 2px;
    border-style: ridge;
    background-color: whitesmoke;    
}

.wrongChar {
    border-width: 2px;
    border-style: ridge;
    background-color: grey;
    color: white;
    border-color: black;
}

.wrongPlace {
    border-width: 2px;
    border-style: ridge;
    background-color: aquamarine;
    border-color: blue;
}

.rightPlace {
    border-width: 2px;
    border-style: ridge;
    background-color: greenyellow;
    border-color: green;
}

.errorMsg {
    color: red;
    transition: color 3s;
}